/* stylelint-disable */
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('#{$url}') format("embedded-opentype");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin font-face-two($font-family, $url1, $url2, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('#{$url1}') format("embedded-opentype");
    src: url('#{$url2}') format("embedded-opentype");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}